@media (min-width: 320px) and (max-width: 575px) {
    #banner #bg{
height: 113px;
    }
  #bg h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #fff;
  }

  #bg p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 190%;
    text-align: center;
    color: #fff;
  }
#digital .one{
  border-radius: 12px;
}
#digital h3{
font-weight: 600;
font-size: 18px;
line-height: 164%;
color: #353535;
}
#digital p{
font-weight: 400;
font-size: 15px;
line-height: 200%;
color: #7a7a7a;
padding-bottom: 23px;
}
#card{
  display: none;
}
.part{
  padding-bottom: 27px;
}
.pcard p{
font-weight: 400;
font-size: 10px;
line-height: 190%;
color: #7a7a7a;
padding-bottom: 10px;
}
.pcard b{
font-weight: 500;
font-size: 10px;
line-height: 190%;
color: #353535;
padding-bottom: 10px;
}
.pcard h6{
font-weight: 600;
font-size: 13px;
line-height: 190%;
color: #353535;
padding-bottom: 50px;
}
.pcard a{
font-weight: 500;
font-size: 12px;
line-height: 190%;
color: #353535;
}
  #end {
    display: none;
}
.Pend{
background: #575757;;
}
.Pend h4{
    padding-top: 17px;
font-weight: 700;
font-size: 18px;
line-height: 200%;
color: #fff;
}
.Pend p{
    padding-bottom: 29px;
font-weight: 400;
font-size: 13px;
line-height: 180%;
text-align: justify;
color: #bbb9b9;
}
.Pend span{
    margin-top: 35px;
font-weight: 400;
font-size: 12px;
line-height: 180%;
text-align: justify;
color: #bbb9b9;
}
.Pend b,
.Pend a{
font-weight: 500;
font-size: 13px;
line-height: 180%;
color: #fff;
}
.Pend h5{
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 180%;
text-align: justify;
color: #fff;
}
}
